streamlit>=1.35.0
requests
pandas
gspread
plotly
st-gsheets-connection
extra-streamlit-components
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
extra-streamlit-components
cryptography
